#dashboard-wrapper {
    background: linear-gradient(45deg, #1b153e, #DE2121);
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .row {
        width: max-content;
        color: var(--white);

        h1 {
            text-align: center;
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: center;
            }

            button {
                width: 50%;
            }
        }
    }
}